Emby.MythTv/Service References/MythTvChannel/xsd1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mythtv.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VideoSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SourceName" type="xs:string" />
      <xs:element minOccurs="0" name="Grabber" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:string" />
      <xs:element minOccurs="0" name="FreqTable" type="xs:string" />
      <xs:element minOccurs="0" name="LineupId" type="xs:string" />
      <xs:element minOccurs="0" name="Password" type="xs:string" />
      <xs:element minOccurs="0" name="UseEIT" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConfigPath" type="xs:string" />
      <xs:element minOccurs="0" name="NITId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoSource" nillable="true" type="tns:VideoSource" />
</xs:schema>