Emby.MythTv/Service References/MythTvChannel/xsd11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mythtv.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="http://hungrymythtv:6544/Channel/xsd?type=ArrayOfVideoMultiplex&amp;name=VideoMultiplex" />
  <xs:complexType name="VideoMultiplexList">
    <xs:sequence>
      <xs:element minOccurs="0" name="StartIndex" type="xs:int" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
      <xs:element minOccurs="0" name="TotalAvailable" type="xs:int" />
      <xs:element minOccurs="0" name="AsOf" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Version" type="xs:string" />
      <xs:element minOccurs="0" name="ProtoVer" type="xs:string" />
      <xs:element minOccurs="0" name="VideoMultiplexes" type="tns:ArrayOfVideoMultiplex" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoMultiplexList" nillable="true" type="tns:VideoMultiplexList" />
</xs:schema>