Emby.MythTv/Service References/MythTvChannel/xsd4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mythtv.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Lineup">
    <xs:sequence>
      <xs:element minOccurs="0" name="LineupId" type="xs:string" />
      <xs:element minOccurs="0" name="Name" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:string" />
      <xs:element minOccurs="0" name="Postal" type="xs:string" />
      <xs:element minOccurs="0" name="Device" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lineup" nillable="true" type="tns:Lineup" />
</xs:schema>