Emby.MythTv/Service References/MythTvChannel/xsd5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mythtv.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="http://hungrymythtv:6544/Channel/xsd?type=ArrayOfVideoSource&amp;name=VideoSource" />
  <xs:complexType name="VideoSourceList">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsOf" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Version" type="xs:string" />
      <xs:element minOccurs="0" name="ProtoVer" type="xs:string" />
      <xs:element minOccurs="0" name="VideoSources" type="tns:ArrayOfVideoSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoSourceList" nillable="true" type="tns:VideoSourceList" />
</xs:schema>